:root {
    --color-primary : #f63854;
    --color-danger : red;
    --color-success : green;
    --color-warning : #ffbb55;
    --color-white : #fff;
    --color-info-dark :#abacae;
    --color-info-light : #dce1eb;
    --color-dark : #363949;
    --color-light : rgba(132,139,200,0.18);
    --color-primary-variant : #111e88;
    --color-dark-variant : #677483;
    --color-background : #fff;
    --margin-left : 15%;
    --margin-right : 15%;
    --card-border-radius : 2rem;
    --border-radius-1 : 0.4rem;
    --border-radius-2 : 0.8rem;
    --border-radius-3 : 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0px 2px 20px 7px rgba(198, 198, 198, 0.3);
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
*{

    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}

body {

    width: 100vw;
    height: 100vw;
    font-family: Arial, sans-serif;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
}
.container{

    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    justify-items: end;
}
.top{
    top: 0;
    z-index: 1;
    background: var(--color-white);
    position: fixed;
    box-shadow: var(--box-shadow);
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
}
.top .Navation a{

    color: var(--color-dark);
    text-decoration: none;
    position: relative;
}
.top .Navation a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-primary);
    transition: width 300ms ease;
  }

  .top .Navation a:hover:before{
    width: 100%;
  }
  .top .Navation a:hover {
    color: var(--color-primary);
  }
img {
    display: block;
    width: 100%;
}

.container .top .logo {
    width: 15rem;
    height: 2.2rem;
    margin-left: var(--margin-left);
}
.container .top .Navation {
    text-align: end;
    font-size: 17px;
    width: 100%;
    margin-right: var(--margin-right);

}
.container .top .Navation a{
    margin: 12px;
}
.container .top .Navation a:last-child{
    margin: 0;
}
.container .top .Navation .active {
    color: var(--color-primary);
}
/* ============== Second part */
.second {
    background-image: url(image/hero-area.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    padding-bottom: 17rem;
    margin-top: 11rem;
    margin-bottom: 6rem;
}
.second .left {
    margin-left: var(--margin-left);
    width: 48%;
}

.second .left h1 {
   font-size: 40px;
   margin-bottom: 3rem;
   font-family: 'Arvo';
}

.paragraph{
    font-family: Arial, sans-serif;
    font-size: 17px;
    line-height: 2rem;
    font-weight: 500;
    color: var(--color-info-dark);
    margin-top: 10px;
    padding-bottom: 20px;
}

.btn {
    align-content: center;
    font-size: 19px;
    border: 0;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 10px 34px;
    text-align: center;
    margin:2rem 0.3rem;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    cursor: pointer;
}
/* .second .left button {
    align-content: center;
    font-size: 19px;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 10px 34px;
    text-align: center;
    margin:2rem 0.3rem;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
} */
.second .left .btn-download:hover,
.second .left .btn-learnmore {
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);

}
.second .left .btn-learnmore:hover {
    background:var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);

}
.second .right {
    margin-right: var(--margin-right);
}
.second .right img{
    width: 86%;
}
/* .backimg {
    margin-bottom: -112px
} */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: var(--color-primary);
    color: #fff;
    font-size: 16px;
    padding: 7px;
    border-radius: 1000vmax;
  }

  .back-to-top:hover {
    background-color: #666;
  }
/* ============= Services ============= */
.thered{
    margin-top: 2rem;
    text-align: center;
    width: 100%;

}
.lines h1{
    text-align: center;
    min-width: auto;
    color: var(--color-dark);
    text-decoration: none;
    position: relative;
    margin-bottom: 3rem;
}

lines{
    min-width: auto;
    color: var(--color-dark);
    text-decoration: none;
    position: relative;
}
lines:before {
    content: "";
    position: absolute;
    left: 48%;
    bottom: 0;
    width: 4%;
    height: 1px;
    background-color: var(--color-primary);
}
.lines h1:before {
    content: "";
    position: absolute;
    left: 48%;
    bottom: 0;
    width: 4%;
    height: 1px;
    background-color: var(--color-primary);
    transition: width 300ms ease;
  }


.thered .services {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);

}
.thered .services .service {
    transition: all 300ms ease;
    padding: 2rem;
    border-radius: 4px;
    text-align: center;
   margin-right: 5%;
   margin-top: 1rem;

}
.thered .services .service .icon span{
    font-size: 33px;
    color: var(--color-primary);
    border-radius: 50%;
    padding: 9px 15px 11px 15px;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    transition: all 300ms ease;
}

.thered .services .service .title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
}

.thered .services .service:hover
 {
    box-shadow: var(--box-shadow)
}

.services .service:hover .icon span{
    background: var(--color-primary);
    color: var(--color-white);
}
/* ============ManageStatistics=================== */
.all-features {
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}
.mange-content {

    margin-left: var(--margin-left);
    margin-bottom: 6rem;
    margin-right: var(--margin-right);
}
.ManageStatistics {
    padding: 60px 0;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.ManageStatistics .left {
    width: 100%;
}
.ManageStatistics .left h1{
    font-size: 35px;
    font-weight: 700;
}
.ManageStatistics .left .content {
    margin-top: 2rem;
}
.ManageStatistics .left .btn-read-more button:hover{
    background: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    box-shadow: var(--box-shadow);

}

.ManageStatistics .right {
    width: 100%;

}
.ManageStatistics .right img{

}
/* ==============AwesomeFeatures================ */
.AwesomeFeatures {
    width: 100%;
}
.AwesomeFeatures .title h1{
    text-align: center;
}
.Features {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}
.Features .left{
text-align: end;
}
.Features .feature{
    margin-bottom: 2rem;
    transition: all 300ms ease;
}
.Features .feature .up .title {
    font-size: 19px;
}
.Features .feature .up .icon {
    color: var(--color-primary);
    float: right;
    padding: 12px 16px 39px 17px;
}
.Features .feature .paragraph {
    padding: 13px 12px 21px 12px;
    line-height: 21px;

}
.Features .right .feature .up .icon {
    float: left;
}
.Features .left .feature:hover{
    box-shadow: var(--box-shadow)
}
.Features .right .feature:hover{
    box-shadow: var(--box-shadow)
}
.Features .middle img {
    width: 100%;
}
/* =============Meetourtea========================= */
.Meetourtea {

    width: 100%;
}
.all-teams{
    margin-left:var(--margin-left);
    margin-right: calc(var(--margin-right) - 1%);
}
.Meetourtea .team{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
 }

 .Meetourtea .team .member{
   display: flex;
   margin: 1rem;
   box-shadow: var(--box-shadow);
 }
 .Meetourtea .team .member:hover{
    box-shadow:0 10px 22px 10px rgba(27, 38, 49, 0.1);
 }
.Meetourtea .team .member .img{

}
.Meetourtea .team .member .img img{
    width: 90%;
}

.Meetourtea .team .member .content .name h3{
    color: black;
    margin: 6px;
}
.Meetourtea .team .member .content .name h3:hover {
    color: var(--color-primary);
}
.Meetourtea .team .member .content .specialty p {
    padding-bottom: 12px;
}

.fa {
    font-size:20px;
    margin: 6px;
}
.facebook {
    color:#111e88;
}
.twitter {
    color:#00aced;
}
.insta {
    color: red;
}
/* ===============Pricing==================== */
.Pricing {
    text-align: center;
    margin-left:var(--margin-left);
    margin-right:calc(var(--margin-right) + 1%);
    margin-bottom:4rem;
}

.Pricing .pricing-boxes{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}
.Pricing .pricing-boxes .price-box{
    margin: 1rem 0 0 1rem;
    width:100%;
    height: 500px;
    text-align: center;
    transition: all 300ms ease;
}
.Pricing .pricing-boxes .price-box:hover{
    box-shadow: var(--box-shadow);
}

.Pricing .pricing-boxes .active{
    box-shadow: var(--box-shadow);
}

.Pricing .pricing-boxes .price-box .icon{
    margin: 1rem;
    padding: 1rem;
    border-radius: 50%;
}
.Pricing .pricing-boxes .price-box .icon span {
    background: #e9ecf8;
    color: var(--color-primary);
    padding: 1rem;
    font-size: 45px;
    border-radius: 50%;
    transition: all 300ms ease;
}
.Pricing .pricing-boxes .price-box:hover .icon span{
    background: var(--color-primary);
    color: white;
}
.Pricing .pricing-boxes .active .icon span{
    background: var(--color-primary);
    color: white;
}

.Pricing .pricing-boxes .price-box .price {
    font-size: 24px;
    color: var(--color-primary);
    font-weight: 700;
}

.Pricing .pricing-boxes .price-box .type {
    padding: 1rem;
}
.Pricing .pricing-boxes .price-box .type h3 {
    text-transform: uppercase;
    color: #333;
    font-size: 18px;
}
.Pricing .pricing-boxes .price-box .properties ul {
    font-size: 15px;
    line-height:35px;
}
/* ===================testimonial============================= */
.testimonial{
    text-align: center;
    background: var(--color-primary);
}
.all-testimonial{
    margin-left:var(--margin-left);
    margin-right: var(--margin-right);
}
.testimonial .cards{

    display: flex;
}
.testimonial .cards .card {
    background: #fff;
    border-radius: 4px;
    text-align: center;
    margin:  4% 1% 4% 0%;
    padding: 1%;
}
.testimonial .cards .card .image{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin: 1rem
}
.testimonial .cards .card .image img {
    width: 30%;
    border-radius: 50%;
}
.testimonial .cards .card .name {
    margin: 10px;
}
.testimonial .cards .card .specialty {
    margin-bottom:10px ;
}
.testimonial .cards .card .paragraph p{
    line-height: 26px;
    color: black;
    font-size: 14px;
}
.testimonial .cards .card .stars span {
    color: var(--color-primary);
}
.disabled span {
    font-size: 14px;
    color: var(--color-white);
}
/* ==============Getfreetrial=================== */
.Getfreetrial {
    margin-top: 3rem;
    display: flex;
}
.Getfreetrial .left {
    width: 100%;
    margin-left: var(--margin-left);

}
.Getfreetrial .left .title h1 {
    font-size: 2rem;
    font-weight: 700;
}
.Getfreetrial .right {
    width: 100%;
    text-align: end;
    margin-right: var(--margin-right);
}
/* =========Contact =============== */
.CountactUs {
    width: 100%;
}
.CountactUs .contacts {
    margin-left: var(--margin-left);
    margin-right: calc(var(--margin-right) + 1%);

}
.CountactUs .contact {
    display: flex;
    gap: 2%;
}
.CountactUs .data {
    width: 100%;
}
.input {
    width: 48%;
    height: 42px;
    border: 1px solid #e9e2e2;
    padding: 15px;
    margin: 6px;
}
.CountactUs .contact .data .email {
  width: 46%;
}
.CountactUs .contact .data .subject{
    width: 98%;
}
.CountactUs .contact .data .message{
    width: 98%;
    height: 10rem;
    resize: vertical;
}
.CountactUs .map{
    width: 100%;
}
.CountactUs .map object{
    height: 280px;
     width: 100%;
}
/* =============== footer ======================= */
footer {
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
}
.footer footer{
    display: flex;
}
.footer footer .fusion {
    width: 25%;
}
.footer footer .fusion .image img{
    width: 14rem;
    margin-bottom: 1rem;
}
.footer footer .fusion .text p {
    line-height: 27px;
    font-size: 16px;
    padding-right: 3rem;
    margin-bottom: 10px;
}
.footer footer .social-media a span{
    padding: 14px;
    color: black;
    transition: all 300ms ease;
}
.footer footer .social-media a span:hover {
    background: #111e88;
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}
.footer footer .social-media .twitter:hover{
    background: #00aced;
}
.footer footer .social-media .insta:hover{
    background: red;
}
.footer footer .links {
    width: 25%;
}
.footer footer .links ul li{
    margin-top: 23px;

}
.footer footer .links ul li a{
    color: black;
    font-size: 16px;
    transition: all 300ms ease;
}
.footer footer .links ul li a:hover{
    color: var(--color-primary);
}
.footer footer .Cont ul li a {
    color: #666666;
    font-size: 16px;
    line-height: 52px;
    font-weight: 400;
}
.footer footer .Cont .address {
    /* margin-top: 1rem; */
}
.footer footer .Cont ul li a span{
    font-size: 22px;
    width: 32px;
    vertical-align: middle;
    height: 36px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
    line-height: 32px;
}
/* =============copyright================== */
.copyright {
    margin-top: 4rem;
    text-align: center;
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    font-size: 16px;
}
.copyright a {
    color: var(--color-primary);
}
.copyright .copyright-content {
 margin-top: 3rem;
 padding-bottom: 3rem;
}
